
.form-body{
    font-size: large;
    background-color:orange;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color:skyblue;
    color: black;
    padding: 20px;
    box-shadow: 2px 8px 12px orangered;
    border-radius: 10px;
}
h1{
    text-align: center;
}
#login-form{
    display: flex;
    flex-direction: column;
}
label, input{
    margin-bottom: 10px;
    background-color:palegoldenrod;
    color: black;
    padding: 20px;
    font-weight: bold;
}
button{
    font-size: large;
    font-weight: bold;
    border-radius: 6px;
    padding: 20px;
    background-color:orange;
    color: #010141;
    
}
button:hover{
    background-color:#010141;
    color: white;
}
a{
    text-decoration: none;
    border-radius: 5px;
    background-color:palegoldenrod;
    padding: 5px;
    color: black;
}
a:hover{
    text-decoration: none;
    border-radius: 5px;
    background-color: #010141;
    padding: 10px;
    color: white;
}
@media screen and (max-width: 400px){
    a{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}